<a href="https://colab.research.google.com/github/stev3j/MachineLearning_Practice/blob/main/DataFrameStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import gdown # download 해주는 라이브러리

gdown.download('https://bit.ly/3RhoNho', 'ns_202104.csv', quiet=False)

In [ ]:
import pandas as pd

ns_df = pd.read_csv('ns_202104.csv', low_memory=False) # 표로 가져오기
ns_df.head()

In [ ]:
ns_book = ns_df.loc[:, '번호':'등록일자'] # 번호부터 등록일자 까지만 저장하기
ns_book.head()

In [ ]:
ns_df.columns

In [ ]:
ns_df.columns != 'Unnamed: 13'

In [ ]:
selected_columns = ns_df.columns != 'Unnamed: 13'
ns_book = ns_df.loc[:, selected_columns] # True인 열만 ns_book에 대입, loc: 필터
ns_book.head()

In [ ]:
selected_columns = (ns_df.columns != '부가기호') & (ns_df.columns != 'Unnamed: 13')
ns_book = ns_df.loc[:, selected_columns] # True인 열만 ns_book에 대입, loc: 필터
ns_book.head()

In [ ]:
ns_book = ns_df.drop('Unnamed: 13', axis=1) # 열 지우기
ns_book.head()

In [ ]:
ns_book = ns_df.drop(['부가기호', 'Unnamed: 13'], axis=1) # 2개의 열 지우기
ns_book.head()

In [ ]:
ns_book = ns_df.dropna(axis=1) # Nan이 하나 이상 포함된 열을 삭제함
ns_book.head()

In [ ]:
ns_book = ns_df.dropna(axis=1, how='all') # 모든 값이 Nan인 열만 삭제함
ns_book.head()

In [ ]:
ns_book2 = ns_book.drop([0,1]) # 인덱스 0, 1 행을 삭제함
ns_book2.head()

In [ ]:
ns_book2 = ns_book[2:] # 2부터 끝까지 ns_book2에 저장
ns_book2.head()

In [38]:
selected_rows = ns_df['출판사'] == '한빛미디어'
selected_rows # False or True

ns_book2 = ns_book[selected_rows] # True인 행만 ns_book2에 저장
ns_book2.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
60,61,(맛있는 디자인)프리미어 프로 CC: 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원,심수진,윤성우,김덕영 지음",한빛미디어,2021,9791162244029,NaN,1,2021,005.567,1,1,2021-03-15
70,71,처음 배우는 애저 (Azure Portal로 배우는 애저 도입부터 활용까지),김도균,한빛미디어,2020,9791162243695,NaN,NaN,NaN,005.74,1,1,2021-03-15
88,89,맛있는 디자인 프리미어 프로 CC 2021 - 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원, 심수진, 윤성우, 김덕영 (지은이)",한빛미디어,2021,9791162244029,NaN,NaN,NaN,NaN,0,0,2021-03-15
156,157,"실전 보고서 작성 기술 with 파워포인트, 워드, 한글",홍장표 지음,한빛미디어,2020,9791162243763,NaN,NaN,NaN,NaN,1,0,2021-03-12
198,199,처음 배우는 리액트 네이티브,김범준 지음,한빛미디어,2021,9791162243879,NaN,NaN,NaN,NaN,1,0,2021-03-12

In [39]:
sum(ns_book.duplicated()) # 중복된 값이 있다면 +1됨, 아무것도 없다면 0

0

In [40]:
sum(ns_book.duplicated(subset=['도서명', '저자', 'ISBN']))

22096

In [ ]:
dup_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN'], keep=False)
ns_book3 = ns_book[dup_rows]
ns_book3.head()

In [42]:
count_df = ns_book[['도서명', '저자', 'ISBN', '권', '대출건수']]

In [43]:
group_df = count_df.groupby(by=['도서명', '저자', 'ISBN', '권'], dropna=False)
loan_count = group_df.sum()

In [ ]:
loan_count

In [47]:
dup_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN', '권'])
unique_rows = ~dup_rows
ns_book3 = ns_book[unique_rows].copy()

In [49]:
sum(ns_book3.duplicated(subset=['도서명', '저자', 'ISBN', '권']))

0

In [50]:
ns_book3.set_index(['도서명', '저자', 'ISBN', '권'], inplace=True)
ns_book3.head()

,,,,번호,출판사,발행년도,세트 ISBN,부가기호,주제분류번호,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,,,
인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,NaN,NaN,1,0,2021-03-19
가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,NaN,NaN,1,0,2021-03-19
나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,NaN,NaN,1,0,2021-03-19
예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,NaN,NaN,1,0,2021-03-19
김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,NaN,NaN,1,0,2021-03-19