<a href="https://colab.research.google.com/github/stev3j/MachineLearning_Practice/blob/main/json_xml_to_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d = {'name': '혼자 공부하는 데이터 분석'}
print(d['name'])

혼자 공부하는 데이터 분석

In [2]:
import json

d_str = json.dumps(d, ensure_ascii=False) # json형식으로 바꾸기
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [3]:
print(type(d_str)) # class -> json 타입인 것을 알 수 있음

<class 'str'>

In [4]:
d2 = json.loads(d_str)
print(d2['name'])

혼자 공부하는 데이터 분석

In [5]:
print(type(d2))

<class 'dict'>

In [7]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", "author": "박해선", "year": 2022}')

print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [8]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", "author": ["박해선", "홍길동"], "year": 2022}')

print(d3['author'][1])

홍길동

In [9]:
d4_str = """
[
  {"name": "혼자 공부하는 데이터 분석", "author": "박해선", "year": 2022},
  {"name": "혼자 공부하는 머신러닝+딥러닝", "author": "박해선", "year": 2020}
]
"""

d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [10]:
import pandas as pd

pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [11]:
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [14]:
x_str = '''
<book>
  <name>혼자 공부하는 데이터 분석</name>
  <author>박해선</author>
  <year>2022</year>
</book>
'''

In [15]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)

In [16]:
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [22]:
print(book.tag)

book

In [29]:
book_childs = list(book)
print(book_childs)

<Element 'author' at 0x7fa54dc6b3b0>

In [30]:
# Wrong Code

name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [31]:
# Proper Code

name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

In [32]:
x2_str = '''
<books>
  <book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
  </book>
  <book>
    <name>혼자 공부하는 머신러닝+딥러닝</name>
    <author>박해선</author>
    <year>2020</year>
  </book>
</books>
'''

In [34]:
books = et.fromstring(x2_str)
print(books.tag)

books

In [36]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name, author, year, sep=', ')

혼자 공부하는 데이터 분석, 박해선, 2022
혼자 공부하는 머신러닝+딥러닝, 박해선, 2020

In [37]:
pd.read_xml(x2_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020